.div-new-bookings {
  transition: 0.8s ease;
  font-family: roboto;
  color: black;
  width: 550px;
  height: auto;
  background-color: rgb(245, 245, 245);
  backdrop-filter: blur(5px);
  // padding: 30px;
  border-radius: 15px;
  margin-top: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 0.1px;
}

.div-input {
  padding: 30px 30px 0 30px;
}

.div-new-bookings:hover {
  background-color: rgb(214, 236, 213);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.text-list-new-booking,
.text-new-description {
  background-color: rgb(240, 240, 240) !important;
}

.text-list-new-booking:focus,
.text-new-description:focus {
  background-color: white !important;
}

.center-form {
  text-align: center;
}

// .btn-create-booking {
//   transition: all 0.8s ease;
//   border: none;
//   margin-top: 10px;
//   font-family: roboto;
//   font-weight: bold;
//   transition: 0.8s ease;
//   background-color: white;
//   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
//   color: rgba(0, 0, 0, .5);
//   padding: 10px 20px 10px 20px;
//   border-radius: 15px;
// }

// .btn-create-booking:hover {
//   width: 100%;
//   color: black;
//   background-color: #71EFA3;
//   font-weight: bold;
//   box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
//   transition: all 0.8s ease;
// }

.div-btn-create-booking {
  display: flex;
  justify-content: center;
}

.btn-create-booking {
  transition: 0.8s ease;
  margin-top: 10px;
  font-family: roboto;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  text-align: center;
  color: rgba(0,0,0,.5);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  border-radius: 15px;
  margin-bottom: 10px;
  border: none;
}

.btn-create-booking:hover {
  margin-top: 0;
  margin-bottom: 0;
  width: 120%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #71EFA3;
  color: black;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.5);
  transition: 0.8s ease;
}

.create-title-img {
  width: 30px;
  height: 40px;
  margin-bottom: 10px;
}

.big-box-new-booking {
  margin-top: 150px;
}

.input-new-reservation {
  text-align: center;
}
