.form-inputs {
    transition: 0.8s ease;
    font-family: roboto;
    color: black;
    width: 550px;
    height: auto;
    background-color: rgb(245, 245, 245);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 15px;
    margin-top: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .form-inputs:hover {
    background-color: rgb(214, 236, 213);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .form-inputs {
    padding-bottom: 0.1px;
  }

  .text-form-inputs {
    margin-bottom: 50px;
  }

  .text-form-inputs {
    background-color: rgb(240, 240, 240) !important;
  }

  .text-form-inputs {
    background-color: white !important;
  }

  .center-form {
    text-align: center;
  }
