.big-box-trees-home-page {
  margin-top: 50px;
}

.card-home-footer {
  display: none;
}

.map-home-page {
  height: 100vh;
  width: 500px;
  background-color: grey;
  position: sticky;
  top: 0;
  z-index: 100;
  background-image: contain;
  background-image: url("https://i.ebayimg.com/images/g/swQAAOSwdQRgh6DA/s-l1200.webp");
}

.box-trees-home-page {
  margin-top: 20px;
}

.card p {
  margin-bottom: 5px;
}

.card h4 {
  margin-bottom: 20px;
}

.card a {
  text-decoration: none;
}

.card {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) !important;
}

.btn-reserve-home {
  transition: 0.8s ease;
  background-color: rgba(118, 184, 242, 0.764);
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  text-align: center;
  color: black;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.btn-reserve-home:hover {
  margin-bottom: 0;
  width: 100%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #71EFA3;
  color: black;
  font-size: 18px;
  font-weight: bold;
  box-shadow: rgb(177, 189, 201) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.952) -3px -3px 6px 1px inset;
  transition: 0.8s ease;
}
